body {
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.post {
  border: 1px solid rgb(231, 231, 231);
  padding: 30px;
  margin-bottom: 30px;
}

.link {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #b4b4b4
}

a {
  text-decoration: none;
  color: black;
}

img {
  min-height: 100px;
}

@media only screen and (max-width: 480px) {
  body {
    padding: 20px;
  }

  .post {
    padding: 10px;
    margin-bottom: 10px;
  }

}
